/*                                    CSS FOR 1140 WIDTH                                                       */

/*                                                                        General classes and settings */

* {
    margin: 0;
    padding: 0;
}


.center-withflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-dark-color-bold {
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
}


/* GO TO TOP BUTTON */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: purple;
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    height: 50px;
    width: 50px;
}






/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/*                                                                                        HEADER                                                                   */
/*     //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #2c3e50;
    background-color: #fff !important;
    z-index: 99;
}

.header-container {
    display: flex;
    width: 80%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}

.header-fixed-position {
    position: fixed;
    top: 0%;
}

/*  ----------------- TOP BAR -------------- */

.header-logo-container-widht {
    width: 15%;
}

.header-logo-img {
    max-height: 38px;
}

/*  ----------------- HEADER NAV -------------- */

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
}

.header-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

li {
    display: flex;
    align-items: center;
}

li>a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

/* Here: limited hover to larger screens */
@media screen and (min-width: 769px) {
    li>a:hover {
        color: rgb(199, 81, 192);
        transition: 0.3s all ease-in-out;
    }


    .a-dark-color-bold::after {
        content: "";
        width: 0;
        height: 1.5px;
        background-color: rgb(199, 81, 192);
        display: flex;
        position: absolute;
        transition: all 0.3s ease-in-out;
        margin-top: 0.3rem;
    }

    .a-dark-color-bold:hover::after {
        width: 3.5rem;
    }

}

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    border: 0px;
    color: #fff !important;
    background-color: #73299a !important;
    width: 160px;
    height: 50px;
    font-size: 1rem;
    line-height: 60px;
    font-weight: 600;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* "NEW" sign */
#a-new {
    display: inline-block;
    margin-bottom: 25px;
}

#new {
    background-color: #ff523d;
    color: white;
    font-size: 0.6rem;
    font-weight: bold;
    height: 25px;
    width: 40px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
}

#new-triangle {
    position: absolute;
    bottom: 41px;
    margin-left: 25px;
    width: 2px;
    height: 3px;
    border-style: solid;
    border-width: 7px 3px 0px 0px;
    border-color: #ff523d transparent transparent;
}

/*  ----------------- DROP-DOWN MENU -------------- */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu-logo {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 65rem;
    margin-left: -45rem;
    background-color: #fff !important;
    border-bottom: 3px solid hsl(0, 8%, 93%);
    border: 1px solid hsl(0, 8%, 93%);
    border-radius: 1rem;
}

.dropdown-content-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.dropdown-content-container-row {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
}

.dropdown-content a {
    text-decoration: none;
    color: #2c3e50;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 510;
}

/* Here: limited hover to larger screens - becouse it's blocking java-script drop-down */
@media screen and (min-width: 769px) {
    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }
}

.dropdown-content a:hover {
    color: #c44d58 !important;
}

.dropdown-content-column>h6 {
    font-size: 18px;
}


/*  ----------------- RESPONSIVE MENU -------------- */

.burger {
    display: none;
}

.burger-lines {
    width: 25px;
    height: 4px;
    background-color: #73299a;
    margin-top: 5px;
}

.burger-icon {
    display: none;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/*                                                                                         MAIN                                                                   */
/*     //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/*  ----------------- GAP BETWEEN TOP-BAR AND <MAIN> -------------- */
.gap-container-flex {
    display: flex;
    height: 5rem;
}

/*  ----------------- GRID-CONTAINER-SECTION 1 -------------- */
.grid-container-section1-inside-flex-container {
    display: grid;
    grid-template-areas:
        'empty1 empty1'
        'column1 column2'
        'empty2 empty2';
    text-align: center;
    background: linear-gradient(90deg, #ffffff, #73299a);
    width: 100%;
}

.section1-flex-container {
    display: flex;
    justify-content: center;
}

.section1-grid-child1 {
    grid-area: column1;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.section1-grid-child2 {
    grid-area: column2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.img-section1-grid-child2 {
    display: flex;
    justify-content: flex-start;
    padding-right: 2rem;
}


.section1-grid-child3 {
    grid-area: empty1;
    height: 8rem;
}

.section1-grid-child4 {
    grid-area: empty2;
    height: 5rem;
}

/* ****** SECTION1 FIRST CHILD INSIDE SECTION (GRID)****** */
.first-child-inside-section-grid {
    display: grid;
    grid-template-areas:
        'creative'
        'h1'
        'p'
        'buttons'
        'credit';
    text-align: start;
    width: 100%;
    height: 70%;
    row-gap: 1rem;
    padding-left: 8rem;
}


/* .first-child-inside-section-flex-container {
    display: flex;
    justify-content: flex-end;
    width: 80%;
} */

.first-child-creative-area {
    grid-area: creative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #73299a;
    font-weight: 400;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    background-color: #c6c2c2;
    width: 35%;
    height: 100%;
}


/* H1 AREA START*/
.first-child-h1-area {
    grid-area: h1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

h1 {
    display: flex;
    justify-content: flex-end;
    font-size: 5rem;
}

.row-flex-gap {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.h1style {
    font-size: 5rem;
    font-weight: bold;
}

.SAAS-style {
    font-size: 5rem;
    font-weight: 100;
}

/* H1 AREA STOP*/

/* P AREA*/
.first-child-p-area {
    grid-area: p;
    display: flex;
}

.p-style {
    font-size: 1.5rem;
    width: 75%;
}

/* P AREA stop*/

/* Buttons area*/
.first-child-buttons-area {
    grid-area: buttons;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

.first-child-buttons-area-style {
    background: transparent;
    border: 1px solid #73299a;
    border-radius: 2rem;
    height: 50px;
    width: 200px;
    font-weight: bold;
    font-size: 1rem;
}

.button-icon-gap {
    margin-right: 5px;
}

.first-child-buttons-area-style:hover {
    background-color: #73299a;
    color: white;
}



.first-child-credit-area {
    grid-area: credit;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

/*  ----------------- GRID-CONTAINER SECTION2 -------------- */

.grid-container-section2 {
    display: grid;
    grid-template-areas:
        'zero'
        'one'
        'middle'
        'four'
        'five';
    width: 100%;
    background-color: #f5f5f5;
}

.section2-grid-container-child0 {
    display: flex;
    grid-area: zero;
    height: 2rem;
}

/*FOR GAP*/

/* 1 CHILD STYLES --------------*/

.section2-grid-container-child1 {
    display: flex;
    justify-content: center;
    grid-area: one;
}

.first-child-services-area {
    grid-area: creative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #73299a;
    font-weight: 400;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    background-color: #c6c2c2;
    width: 15%;
    height: 100%;
    font-weight: bold;
}

.flex-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.flex-row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.h2-section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px;
}


.facilites-style {
    display: flex;
    align-items: flex-end;
    font-weight: 100;
    font-size: 40px;
    height: 100%;
}

/* 2 CHILD STYLES --------------*/

.section2-grid-container-child2 {
    display: flex;
    grid-area: middle;
    justify-content: center;
    align-items: center;
}

.grid-container-tiles {
    display: grid;
    grid-template-areas:
        'tiles1 tiles2 tiles3'
        'tiles4 tiles5 tiles6';
    width: 80%;
    text-align: center;
    column-gap: 1.5rem;
    row-gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.background-color>:nth-child(1)>h3,
:nth-child(2)>h3,
:nth-child(3)>h3,
:nth-child(4)>h3,
:nth-child(5)>h3,
:nth-child(6)>h3 {
    font-size: 1.5rem;
}

.tiles-icons-size {
    height: 45px;
    width: 45px;
    fill: #73299a;
    position: absolute;
}

.lower-icon {
    position: relative;
    height: 40px;
    width: 35px;
    display: inline-block;
    fill: #72299a6a;
    margin-left: 22px;
    margin-top: 15px;
}

.tiles1>h3 {
    font-size: 1.5rem;
}


.p-tiles-style {
    text-align: start;
    width: 80%;
}


.tiles1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-area: tiles1;
    background-color: #ffffff;
    border-radius: 1rem;
    height: 12rem;
    padding: 2rem;
    padding-top: 1rem;
    box-shadow: 10px 10px 10px 10px #e6e6e8;
    gap: 1rem;
}

.tiles1:hover {
    transition: 1s;
    transform: translateX(-10px) translateY(-10px);
    box-shadow: none;
}

.background-color {
    position: relative;
    grid-area: tiles1, tiles2, tiles3, tiles4, tiles5, tiles6;
    background-color: purple;
    border-radius: 1rem;
    height: 12rem;
    display: flex;
    width: 100%;
    height: 100%;
}

.tiles2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-area: tiles2;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 2rem;
    padding-top: 1rem;
    height: 12rem;
    box-shadow: 10px 10px 10px 10px #e6e6e8;
    gap: 1rem;
}

.tiles2:hover {
    transition: 1s;
    transform: translateX(-10px) translateY(-10px);
    box-shadow: none;
}

.tiles3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-area: tiles3;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 2rem;
    padding-top: 1rem;
    height: 12rem;
    box-shadow: 10px 10px 10px 10px #e6e6e8;
    gap: 1rem;
}

.tiles3:hover {
    transition: 1s;
    transform: translateX(-10px) translateY(-10px);
    box-shadow: none;
}

.tiles4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-area: tiles4;
    background-color: #ffffff;
    border-radius: 1rem;
    height: 12rem;
    padding: 2rem;
    padding-top: 1rem;
    box-shadow: 10px 10px 10px 10px #e6e6e8;
    gap: 1rem;
}

.tiles4:hover {
    transition: 1s;
    transform: translateX(-10px) translateY(-10px);
    box-shadow: none;
}

.tiles5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-area: tiles5;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 2rem;
    padding-top: 1rem;
    height: 12rem;
    box-shadow: 10px 10px 10px 10px #e6e6e8;
    gap: 1rem;
}

.tiles5:hover {
    transition: 1s;
    transform: translateX(-10px) translateY(-10px);
    box-shadow: none;
}

.tiles6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-area: tiles6;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 2rem;
    padding-top: 1rem;
    height: 12rem;
    box-shadow: 10px 10px 10px 10px #e6e6e8;
    gap: 1rem;
}

.tiles6:hover {
    transition: 1s;
    transform: translateX(-10px) translateY(-10px);
    box-shadow: none;
}



/* 4 CHILD STYLES --------------*/
.section2-grid-container-child4 {
    display: flex;
    grid-area: four;
    justify-content: center;
    align-items: center;
}

.section2-grid-container-child4>a {
    font-weight: bold;
    font-size: 1.15rem;
    color: black;
    text-decoration: none;
}

.section2-grid-container-child4>a::before {
    content: "";
    width: 0;
    height: 2px;
    background-color: rgb(26, 10, 244);
    display: flex;
    position: absolute;
    transition: all 0.3s ease-in-out;
    margin-top: 1.2rem;
}

.section2-grid-container-child4>a:hover::before {
    width: 14rem;
}


.section2-grid-container-child4>a:hover+.hide-rotate {
    visibility: visible;
}

.hide-rotate {
    visibility: hidden;
    rotate: 90deg;
    margin-left: 3px;
    color: purple;
    font-size: 1.1rem;
}

/*FOR GAP*/
.section2-grid-container-child5 {
    display: flex;
    grid-area: five;
    height: 5rem;
}


/* --------------------------------------- SECTION 3 PICTURES WITH HEADERS */

.section3-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    background: linear-gradient(85deg, #ffffff, #8d7f95);
}

.icon-background {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #73299a;
    width: 80px;
    height: 80px;
}

.section-3-icons-size {
    height: 45px;
    width: 45px;
    fill: white;
}

.text-img-section3-size {
    height: 60px;
    width: 60px;
}

.row-flex-container {
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.text-flex-container-column {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1.5rem;
}

.text-flex-container-column>h3 {
    font-size: 3rem;
}

.text-flex-container-column>p {
    font-size: 1.20rem;
    width: 100%;
}

.a-div>a {
    font-size: 1.20rem;
    font-weight: bold;
    color: rgb(0, 153, 255);
    text-decoration: none;
}

.a-div>a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: rgb(0, 153, 255);
    display: flex;
    position: absolute;
    transition: all 0.3s ease-in-out;
    margin-top: 0.3rem;
}

.a-div {
    display: flex;
}

.a-div>a:hover::after {
    width: 13rem;
}

.a-div>a:hover+.hide-rotate {
    visibility: visible;
}

/* ------------------------------------------------------- SECTION 4 text/icons */

.section4-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap-container {
    display: flex;
    height: 5rem;
}

.s4-features {
    grid-area: creative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #73299a;
    font-weight: 400;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    background-color: #c6c2c2;
    width: 45%;
    height: 2rem;
}

.section4-icon-div-outside {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 5px solid #b3aeb5;
}

.section4-icon-div-inside {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 5px;
    background-color: #b3aeb5;
}

.inside-gap {
    display: flex;
    width: 15%;
}

.header-row-container {
    display: flex;
    gap: 1rem;
}


.section4-text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    height: 30rem;
}

.icon-text-container:hover {
    margin-left: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px 10px rgb(246, 241, 241);
    background-color: white;
    transition: 0.5s ease-out;
}

.green-line-s4 {
    display: none;
    width: 5px;
    height: 5rem;
    border-radius: 1rem;
    background-color: #049507;
    margin-left: -1rem;
}

.purple-line-s4 {
    display: none;
    width: 5px;
    height: 5rem;
    border-radius: 1rem;
    background-color: purple;
    margin-left: -1rem;
}

.pink-line-s4 {
    display: none;
    width: 5px;
    height: 5rem;
    border-radius: 1rem;
    background-color: #d912dc;
    margin-left: -1rem;
}

.icon-text-container:hover .green-line-s4 {
    display: flex;
    transition: all 0.5s ease-in-out;
}

.icon-text-container:hover .purple-line-s4 {
    display: flex;
    transition: all 0.5s ease-in-out;
}

.icon-text-container:hover .pink-line-s4 {
    display: flex;
    transition: all 0.5s ease-in-out;
}

.section4-text-container>h3 {
    font-size: 3rem;
}

.header-row-container>h3 {
    font-size: 3rem;
}

.header-row-container>p {
    font-size: 3rem;
}

.column-icon-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
}

.icon-text-container {
    display: flex;
    gap: 1rem;
    width: 70%;
    height: 8rem;
    align-items: center;
    padding-left: 1rem;
}

.icon-size2 {
    height: 100px;
    width: 100px;
}

.p-container {
    width: 80%;
}

.s4-zero-icon {
    color: #049507;
    font-size: 30px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    box-sizing: border-box;
    font-family: 'Font Awesome 5 Brands';
    font-weight: 400;
    text-align: center !important;
    visibility: visible;
}

.s4-first-icon {
    color: purple;
    font-size: 30px;
}

.s4-second-icon {
    color: #d912dc;
    font-size: 30px;
}

.text-flex-container-column-s4 {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 1rem;
}

.text-flex-container-column-s4>h3 {
    font-size: 1.8rem;
}

.text-flex-container-column-s4>p {
    width: 110%;
    font-size: 1.1rem;
}

/* -------------------------------------- SECTION 5 one-picture/tekst */
.section5-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(85deg, #ffffff, #8d7f95);
}

.section5-grid-container-in-flex {
    display: grid;
    grid-template-areas:
        'gap1 gap1'
        'picture text'
        'gap2 gap2';
}

.section5-grid-areas {
    display: flex;
}

.gap1 {
    grid-area: gap1;
    height: 5rem;
}

.section5-picture-container {
    grid-area: picture;
    justify-content: flex-end;
}

.section5-text-container {
    grid-area: text;
    justify-content: flex-start;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #73299a;
    font-weight: 400;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    background-color: #c6c2c2;
    width: 55%;
}

.flex-column2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 1rem;
}


.flex-start {
    justify-content: flex-start;
}

.p-section5-style {
    display: flex;
    font-size: 1.rem;
    text-align: start;
    justify-content: flex-start;
}

.a-div2 {
    display: flex;
}

.a-div2>a {
    font-weight: bold;
    font-size: 1.15rem;
    color: black;
    text-decoration: none;
}

.a-div2>a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: rgb(0, 153, 255);
    display: flex;
    position: absolute;
    transition: all 0.3s ease-in-out;
    margin-top: 0.3rem;
}

.a-div2>a:hover::after {
    width: 8rem;
}

.a-div2>a:hover+.hide-rotate {
    visibility: visible;
}


.gap2 {
    grid-area: gap2;
    height: 5rem;
}


/* --------------------------------------------------- SECTION 6 header and members */

.section6-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row-members {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.gap-container-members {
    display: flex;
    height: 10rem;
}

.section6-tiles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 1rem;
    height: 14rem;
    width: 17rem;
    padding: 0.5rem;
    padding-bottom: 0rem;
    box-shadow: 10px 10px 10px 10px #e6e6e8;
    gap: 4rem;
}

.section6-tiles:hover .img-team {
    border: 2px solid purple;
    padding: 2px;
    transition: 0.3s ease-in-out;
}

.section6-tiles:hover .hover-social-media {
    display: flex;
    transition: 1s ease-in-out;
}

.section6-tiles:hover .members-icon {
    background-color: #d912dc;
}

.gap-1rem {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.gap-1rem>p {
    color: purple;
}

.img-team {
    display: block;
    border-radius: 50%;
}

.img-to-border {
    margin-top: -6rem;
}

.members-data-column-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.5rem;
    align-items: flex-start;
    justify-content: flex-end;
}

.flex-members-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0.2rem;
    height: 5rem;
    width: 100%;
}

.hover-social-media {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem;
    background-color: purple;
    width: 25px;
    height: 13rem;
    border-radius: 1.2rem;
    z-index: 5;
    margin-bottom: -40px;
    margin-left: 2px;
}

.social-media-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
}

.media-icon-div-members {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background: transparent;
    cursor: pointer;
}

.members-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background-color: purple;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.social-media-icons-style-members {
    color: white;
    display: inline-block;
}

.social-media-icons-style-members:hover {
    margin-left: 10px;
    transition: 0.3s ease-in-out;
}

.mebers-icon-style {
    color: white;
}

.telephone-icon {
    color: #cc0fda;
    margin-right: 8px;
}

/* --------------------------  SECTION 7 FAQs */

.gap-container-faqs {
    display: flex;
    height: 5rem;
    background-color: #c6c2c2;
    width: 100%;
}

.section7-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c6c2c2;
}

.frequently-asqed {
    grid-area: creative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #73299a;
    font-weight: 400;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    width: 20%;
    height: 100%;
    font-weight: bold;
    background-color: pink;
}

.flex-row-faqs {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.flex-column-faqs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 35%;
}

.header-button-flex-row {
    display: flex;
    justify-content: space-between;
}

.header-button-flex-row>h6 {
    font-size: 1.25rem;
}

.heaeder-p-flex-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.p-faqs {
    width: 100%;
    font-size: 1.1rem;
    visibility: hidden;
    height: 0px;
}


.button-faqs {
    border: none;
    background: transparent;
    cursor: pointer;

}

.showp {
    visibility: inherit;
    height: 100%;
}

/* --------------------------  SECTION 8 pricing tiles */
.pricing {
    grid-area: creative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #73299a;
    font-weight: 400;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    width: 20%;
    height: 100%;
    font-weight: bold;
    background-color: pink;
}

.flex-row-pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

.pricing-tiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    border-radius: 1rem;
    height: 35rem;
    width: 20rem;
    box-shadow: 10px 10px 10px 10px #e6e6e8;
    gap: 1.5rem;
}

.row-flex-top-tile {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    gap: 1.5rem;
    background-color: #2c3e50;
    width: 90%;
    align-items: center;
    padding: 1rem;
    height: 7rem;
}

.white {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 75px;
    width: 100%;
    margin-left: 1rem;
    border-radius: 0.5rem;
}

.tiles-images-top {
    width: 45px;
    height: 45px;
}

.row-flex-top-tile:hover .white {
    background: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
    ;
}

.row-flex-top-tile:hover .white>.tiles-images-top {
    fill: white;
}

.row-flex-top-tile:hover .top-hover-icon {
    fill: gray;
}

.green-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-image: linear-gradient(0deg, #00f500 1%, #00db00 53%, #00c000 100%);
    color: white;
    font-size: 13px;
    box-shadow: 1px 1px 6px 6px rgb(221, 217, 217);
    margin-right: 5px;
}

.white>img {
    height: 50%;
}

.top-hover-icon {
    display: flex;
    fill: #2c3e50;
}

.column-flex-price {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
}

.column-flex-price>h6 {
    font-size: 1.5rem;
}

.column-flex-price>p {
    font-size: 2.5rem;
}

.hr-pricing {
    width: 100%;
    border: 0.1px solid hsl(0, 4%, 90%);
}

.row-icon-p {
    display: flex;
    justify-content: flex-start;
    width: 80%;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/*                                                                                        FOOTER                                                                   */
/*     //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/*  ----------------- FORM -------------- */

.form-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row-picture-subscribe {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    gap: 10rem;
    padding-left: 5rem;
    background-color: #73299a;
    border-radius: 1rem;
    position: relative;
}



.background-image1 {
    position: absolute;
    height: 90%;
    width: 200px;
    top: 28px;
    right: 13rem;
    position: absolute;
    background-image: url(https://themexriver.com/appilo-theme/saas-classic/wp-content/themes/appilo/img/saas-classic/banner/ns.png);
    rotate: 30deg;
}


.background-image2 {
    display: flex;
    height: 10%;
    width: 55%;
    position: absolute;
    background-image: url(https://themexriver.com/appilo-theme/saas-classic/wp-content/themes/appilo/img/saas-classic/banner/ns2.png);
}

.cloud1 {
    display: flex;
    height: 1.5rem;
    margin-bottom: 4rem;
    width: 7%;
    background-image: url(https://themexriver.com/appilo-theme/saas-classic/wp-content/themes/appilo/img/saas-classic/cloud-2.png);
    position: absolute;
}

.cloud {
    display: flex;
    height: 3rem;
    width: 10.9%;
    background-image: url(https://themexriver.com/appilo-theme/saas-classic/wp-content/themes/appilo/img/saas-classic/cloud-5.png);
    position: absolute;
}

.flex-input-button {
    display: flex;
    gap: 1rem;
    width: 150%;
}

.form-button-style {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 191);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 300px;
    height: 60px;
    color: white;
    font-size: 1rem;
}

.input-style {
    display: flex;
    width: 180%;
    border-radius: 0.5rem;
    border: none;
    height: 100%;
    height: 60px;
    padding-left: 2rem;
}

.column-subscribe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.column-subscribe-container>h5 {
    font-size: 2.5rem;
    color: white;
}

.img-form {
    margin-bottom: 0.5rem;
    display: block;
    margin-top: -2rem;
}

.column-subscribe-container>p {
    font-size: 1.25rem;
    color: white;
    margin-bottom: 1rem;
}


/*  ----------------- LINKS-------------- */

.gap-container-footer {
    display: flex;
    height: 5rem;
}

.main-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-container-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    background-color: rgb(59, 1, 44);

}

.column-logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
}

.column-logo-container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    width: 20%;
    margin-top: 1rem;
}

.column-logo-container3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
}

.column-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    width: 70%;
}

.links-newsletter-container {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 3rem;
    justify-content: flex-start;
}

.links-hr-row>p {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.social-media-row {
    display: flex;
    gap: 5px;
}

.column-logo-container>p {
    color: white;
}

#adress {
    width: 50%;
}

#hours {
    color: #ff00ee;
}

#pm {
    margin-top: -0.5rem;
}

#hr-links1 {
    width: 300px;
}

#hr-links2 {
    width: 150px;
}

.column-logo-container2>a {
    text-decoration: none;
    color: white;
}

.column-logo-container2>a:hover {
    color: rgb(199, 81, 192);
    transition: 0.3s all ease-in-out;
    margin-left: 1rem;
}

.column-logo-container2>a::after {
    content: "";
    width: 0;
    height: 1.5px;
    background-color: rgb(199, 81, 192);
    display: flex;
    position: absolute;
    transition: all 0.3s ease-in-out;
    margin-top: 0.3rem;
}

.column-logo-container2>a:hover::after {
    width: 3.5rem;
}

.input-button-news {
    display: flex;
    gap: 0;
    border: none;
    border-radius: none;
    width: 100%;
}

.input-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    border: none;
    border-radius: none;
    background-color: rgb(199, 81, 192);
    width: 15%;
}

.plane-icon {
    color: white;
}

#input-news {
    display: flex;
    border: none;
    height: 40px;
    width: 300px;
    padding-left: 2rem;
}

.column-logo-container3>p {
    color: white;
}

.links-hr-row {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home-faqs-cont {
    display: flex;
    gap: 5rem;
}

.gap-container-links {
    display: flex;
    justify-content: center;
    margin-left: 11.9rem;
    width: 75%;
    height: 5rem;
    background-color: rgb(59, 1, 44);
}

.links-links {
    display: flex;
    flex-direction: column;
}

.links-news-row {
    display: flex;
    gap: 1rem;
}

.section-flexx {
    display: flex;
}

.column-again {
    display: flex;
    flex-direction: column;
}

.media-icon-div {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: white;
    cursor: pointer;
}

.media-icon-div:hover {
    height: 32px;
    width: 32px;
    transition: 0.5s ease-in-out;
}

.social-media-icons-style {
    color: #16599b;
    display: inline-block;
}

/* -------------------------------- LAST SECTION CONTAINER*/

.flex-black {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    height: 3rem;
    gap: 1rem;
}

.flex-black>a {
    text-decoration: none;
    color: #73299a;
}