/*                                                         MAX WIDTH 768px                                                                        */
@media screen and (max-width: 768px) {
    /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
                                                                                        HEADER                                                                   
     //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


    /*  ----------------- TOP BAR -------------- */

    .header-ul {
        position: absolute;
        right: 0;
        top: 0px;
        overflow: scroll;
        height: 100vh;
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;
        padding-top: 5vh;
        transform: translate(100%);
        transition: 0.3s ease-in;
        background-color: #fff;
        width: 40vw;
    }

    .header-container {
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin-top: 0.5rem;
    }

    li {
        border: 0.5px solid gray;
        width: 100%;
        height: 2rem;
        padding-left: 3rem;
    }

    #a-new {
        margin-top: 15px;
    }

    #new {
        position: absolute;
        margin-left: 245px;
        margin-top: -27px;
    }

    #pages {
        display: flex;
    }


    .header-button {
        display: none;
    }

    /*  ----------------- RESPONSIVE MENU -------------- */
    .active {
        transform: translate(0%);
    }

    .dropdown-menu-logo {
        display: flex;
        margin-bottom: 1rem;
    }

    .burger {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: transparent;
        height: 40px;
        cursor: pointer;
        border: none;
    }


    .burger.active .burger-lines:first-child {
        position: absolute;
        transform: translateX(-438px);
        top: -25px;
        height: 100vh;
        width: 70vw;
        background-color: rgba(0, 0, 0, 0.827);
    }

    .burger.active .burger-lines:nth-child(2) {
        transform: rotate(45deg);
        margin-bottom: -5px;
        width: 20px;
        margin-left: 0px;
        transition: 0.3s ease-in;
        margin-right: 13rem;
        background-color: red;
    }

    .burger.active .burger-lines:nth-child(3) {
        transform: rotate(135deg);
        bottom: 5px;
        transition: 0.3s ease-in;
        margin-right: 13rem;
        background-color: red;
    }

    .burger.active .burger-lines:nth-child(4) {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 2px solid red;
        display: flex;
        background-color: transparent;
        margin-right: 13rem;
    }




    /*  ----------------- DROP-DOWN MENU -------------- */
    .show {
        display: flex;

    }


    .dropdown-content {
        position: relative;
        margin: 0;
        width: 100%;
        bottom: -53rem;
    }

    .dropdown-content-container-row {
        flex-direction: column;
    }


    /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
                                                                                        MAIN                                                                  
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    /*  ----------------- SECTION 1 -------------- */
    .grid-container-section1-inside-flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }


    .section1-grid-child2 {
        justify-content: center;
    }

    .img-section1-grid-child2 {
        width: 90%;
        justify-content: center;
        padding-right: 0;
    }

    /*gaps*/
    .section1-grid-child3 {
        height: 2rem;
    }

    .section1-grid-child4 {
        height: 0rem;
    }

    /* ****** SECTION1 FIRST CHILD INSIDE SECTION (GRID)****** */
    .section1-grid-child1 {
        justify-content: flex-start;
    }

    .first-child-inside-section-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .first-child-creative-area {
        width: 300px;
        height: 30px;
    }

    /* H1 AREA START*/
    .row-flex-gap {
        justify-content: center;
        text-align: center;
        width: 90%;
    }

    h1 {
        font-size: 3.5rem;
        justify-content: center;
    }

    .h1style,
    .SAAS-style {
        font-size: 3.5rem;
    }

    /* P AREA*/
    .p-style {
        font-size: 1.2rem;
        width: 100%;
    }

    /* ****** SECTION 2 ****** */
    .first-child-services-area {
        width: 60%;
        height: 30px;
    }

    .h2-section2 {
        font-size: 25px;
    }

    .facilites-style {
        font-size: 35px;
    }

    .grid-container-tiles {
        display: grid;
        grid-template-areas:
            'tiles1 tiles2'
            'tiles3 tiles4'
            'tiles5 tiles6';
        width: 90%;
        text-align: center;
        column-gap: 1.5rem;
        row-gap: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    /* ****** SECTION 3 ****** */
    .row-flex-container {
        flex-direction: column;
        align-items: center;
    }

    .text-flex-container-column {
        width: 90%;
    }

    /*  ----------------- SECTION 4 -------------- */

    .inside-gap {
        display: none;
    }

    .section4-flex-container {
        flex-direction: column;
        gap: 5rem;
        margin-left: 2rem;
    }

    .section4-text-container {
        width: 100%;
    }

    /*  ----------------- SECTION 5 -------------- */


    .section5-grid-container-in-flex {
        grid-template-areas:
            'gap1 gap1'
            'picture picture'
            'text text'
            'gap2 gap2';
    }

    #section5-h2 {
        display: flex;
        justify-content: flex-start;
        width: 80%;
    }

    #tool {
        width: 180%;
    }

    .flex-start {
        width: 100%;
    }


    /* --------------------------  SECTION 7 FAQs */

    .flex-column-faqs {
        width: 45%;
    }

    .header-button-flex-row {
        align-items: flex-start;
    }

    .frequently-asqed {
        width: 35%;
    }



    /* --------------------------  SECTION 8 prices tiles */


    .flex-row-pricing-container {
        flex-direction: column;
        gap: 8rem;
    }




    /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
                                                                                       FOOTER                                                                  
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


    /*  ----------------- FORM-------------- */

    .img-form {
        display: none;
    }

    .row-picture-subscribe {
        width: 100%;
        gap: 1rem;
        justify-content: center;
        padding: 1rem;
        padding-bottom: 3rem;
    }

    .flex-input-button {
        width: 100%;
    }

    .input-style {
        width: 400px;
    }

    .form-button-style {
        width: 150px;
    }


    /*  ----------------- LINKS -------------- */

    .links-container-row {
        width: 100%;
    }

    .links-container-row {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        padding-left: 1rem;
    }

    .links-newsletter-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .column-input-container {
        width: 100%;
    }

    .home-faqs-cont {
        gap: 8rem;
    }

    #hr-links1 {
        width: 650px;
    }

    #hr-links2 {
        width: 600px;
    }

    #input-news {
        width: 600px;
    }

    .column-logo-container3 {
        width: 100%;
    }

    .gap-container-footer {
        display: none;
    }

    .links-news-row {
        flex-direction: column;
    }


    /* ****** Drop Down Menu ****** */

    /*  ----------------- TOP BAR -------------- */

}








/*   MAX-WIDTH  426PX         MAX-WIDTH  426PX         MAX-WIDTH  426PX         MAX-WIDTH  426PX         MAX-WIDTH  426PX      MAX-WIDTH  426PX   */
/*   MAX-WIDTH  426PX         MAX-WIDTH  426PX         MAX-WIDTH  426PX         MAX-WIDTH  426PX         MAX-WIDTH  426PX      MAX-WIDTH  426PX   */
/*   MAX-WIDTH  426PX         MAX-WIDTH  426PX         MAX-WIDTH  426PX         MAX-WIDTH  426PX         MAX-WIDTH  426PX      MAX-WIDTH  426PX   */
/*   START      START         START      START         START      START        START      START      START      START   START      START START      START */
@media screen and (max-width: 426px) {
    /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
                                                                                        HEADER                                                                   
     //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


    /*  ----------------- TOP BAR -------------- */
    .header-ul {
        width: 70vw;
    }

    #new {
        margin-left: 235px;
    }

    /*  ----------------- TOP BAR -------------- */

    /*  ----------------- RESPONSIVE MENU -------------- */



    .burger.active .burger-lines:first-child {
        position: absolute;
        transform: translateX(-317px);
        top: -25px;
        height: 100vh;
        width: 70vw;
        background-color: rgba(0, 0, 0, 0.827);
    }

    .burger.active .burger-lines:nth-child(2) {
        transform: rotate(45deg);
        margin-bottom: -5px;
        width: 20px;
        margin-left: 0px;
        transition: 0.3s ease-in;
        margin-right: 13rem;
        background-color: red;
    }

    .burger.active .burger-lines:nth-child(3) {
        transform: rotate(135deg);
        bottom: 5px;
        transition: 0.3s ease-in;
        margin-right: 13rem;
        background-color: red;
    }

    .burger.active .burger-lines:nth-child(4) {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 2px solid red;
        display: flex;
        background-color: transparent;
        margin-right: 13rem;
    }




    /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
                                                                                        MAIN                                                                  
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    /*  ----------------- SECTION1 -------------- */

    /* ****** P1 ****** */

    .first-child-p-area {
        justify-content: center;
    }

    .p-style {
        font-size: 1.1rem;
        width: 85%;
        text-align: center;
    }

    /* Buttons area*/
    .first-child-buttons-area-style {
        height: 40px;
        width: 130px;
    }


    /* ****** SECTION 2 ****** */
    .first-child-services-area {
        width: 60%;
        height: 30px;
    }

    .h2-section2 {
        font-size: 25px;
    }

    .facilites-style {
        font-size: 35px;
    }

    .grid-container-tiles {
        display: flex;
        flex-direction: column;
    }

    /*  ----------------- SECTION3 -------------- */

    .px-mobile {
        display: flex;
        width: 95%;
        justify-content: flex-end;
    }

    /*  ----------------- SECTION 4 -------------- */

    .inside-gap {
        display: none;
    }

    .section4-flex-container {
        flex-direction: column;
        gap: 5rem;
        margin-left: 0rem;
    }

    .section4-text-container {
        width: 100%;
        align-items: center;
    }

    .section4-text-container>h3 {
        text-align: center;
    }

    .icon-text-container {
        flex-direction: column;
        align-items: center;
    }

    /*  ----------------- SECTION 5 -------------- */

    .section5-flex-container {
        justify-content: flex-start;
        width: 100%;
    }

    #section5-icons {
        display: flex;
        width: 90%;
    }

    #section5-h2 {
        width: 150%;
    }

    #tool {
        width: 200%;
    }

    .flex-start {
        width: 100%;
    }

    /* --------------------------  SECTION 7 FAQs */

    .flex-row-faqs {
        flex-direction: column;
        align-items: center;
    }

    .flex-column-faqs {
        width: 90%;
    }

    .frequently-asqed {
        width: 60%;
    }

    /* --------------------------  SECTION 8 prices tiles */




    /* ****** Drop Down Menu ****** */

    /*  ----------------- TOP BAR -------------- */

    /* ****** Drop Down Menu ****** */




    /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
                                                                                       FOOTER                                                                  
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


    /*  ----------------- TOP BAR -------------- */

    /* ****** Drop Down Menu ****** */

    /*  ----------------- TOP BAR -------------- */

    /* ****** Drop Down Menu ****** */

    /*  ----------------- TOP BAR -------------- */
}